.list-item-container {
  display: flex;

  .list-item {
    height: 36rem;
    margin-right: 2rem;
    cursor: pointer;
    
    .title{
      font-size: 2rem;
      font-weight: 300;
    }

    &-img {
      // min-width: 20rem;
      // height: 30rem;
      
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 10px 20px rgba(0, 0, 0,0.2);
    }
  }
}

