.cast-container {
    margin-top: 45px;
  }

.cast-list-container {
    overflow: scroll;
    height: 90%;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    
}

.cast{
    margin-top: 2rem;
    &-profile{
        border-radius: 50%;
        
    }
    
}