@import "../../Sass/variable";

.hero {
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.poster {
    display: block;
    height: 40rem;
    margin: 0 auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.description {
    
    margin-left: 5rem;
    
    
}

.title {
    font-size: 4rem;
    font-weight: 900;
    cursor: pointer;
}

.genre {
    font-size: 2rem;
    font-weight: 400;
}

.synopsis {
    font-size: 2rem;
    font-weight: 300;
}

.seemore {
    font-size: 2rem;
    font-weight: 400;
}