.header {
  background-color: transparent;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;

  .left {
    position: relative;
    padding-left: 5rem;
    display: flex;
    justify-content: flex-start;

    .img {
      height: 5rem;
      margin-left: -2rem;
    }
  }

  .right {
    .search-container {
      overflow: hidden;
      display: flex;
      align-items: center;
      background-color: #fff;
      margin-right: 2.5rem;
      border-radius: 1rem;
      padding: .5rem 1rem;
    }
    input {
      border: none;
      outline: none;
      font-size: 1.8rem;
      background-color: inherit;
      
    }
    
    .search {
      // margin-right: 2.5rem;
      cursor: pointer;
      color: #111;
      &:hover {
        color: #aaa
      }
    }

    .switch {
      margin: 0 !important;
    }
  }
}
