.header {
  // background-color: #1c1c1c;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .left {
    position: relative;
    padding-left: 5rem;
    display: flex;
    justify-content: flex-start;

    .img {
      height: 5rem;
      margin-left: 5rem;
    }

    .menu {
      // position: absolute;
      // left: 1px;
    }
  }

  .right {
    .search {
      margin-right: 1rem;
    }

    .switch {
      margin: 0 !important;
    }
  }
}
