.header {
  background-color: transparent;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .left {
    position: relative;
    padding-left: 5rem;
    display: flex;
    justify-content: flex-start;

    .img {
      height: 5rem;
      margin-left: -2rem;
    }
  }

  .right {
    .search {
      margin-right: 2.5rem;
      cursor: pointer;
      color: #ccc;
      &:hover {
        color: #fff
      }
    }

    .switch {
      margin: 0 !important;
    }
  }
}
