.search {
  &-screen {
    
    padding: 15rem 5rem 5rem 5rem;

    .search-container{
      padding-top: 5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 8rem;
    }
  }
  
}
